[package]
name = "flax"
version = "0.1.0"
edition = "2021"
authors = ["Tei Leelo Roberts <ten3roberts@gmail.com>"]
description = "An ergonimic archetypical ECS"
documentation = "https://docs.rs/flax"
repository = "https://github.com/ten3roberts/flax"
license = "MIT"

[workspace]
members = ["flax-derive", "asteroids"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flax-derive = { path = "./flax-derive" }

atomic_refcell = "0.1.8"
bitflags = "1.3.2"
eyre = "0.6.8"
itertools = "0.10.3"
paste = "1.0.7"
rayon = { version = "1.5.3", optional = true }
smallvec = "1.8.0"
thiserror = "1.0.31"
tracing = { version = "0.1.35", optional = true }
tynm = "0.1.6"
serde = { version = "1.0", features = ["derive"], optional = true }
erased-serde = { version = "0.3", optional = true }
flume = "0.10.14"

[dev-dependencies]
itertools = "0.10.3"
tracing-subscriber = { version = "0.3.15", features = ["env-filter"] }
test-log = { version = "0.2.11", default_features = false, features = [
  "trace",
] }
serde_json = "1.0"
color-eyre = "0.6.2"
glam = { version = "0.21.3", features = ["rand", "serde"] }
rand = "0.8.5"
tracing-tree = "0.2"
bincode = "1.3.3"
tracing = "0.1"

[profile.release]
debug = true

[features]
default = ["parallel"]
serde = ["dep:serde", "erased-serde"]
internal_assert = []
parallel = ["rayon"]

[[example]]
name = "query"
path = "./examples/guide/query.rs"

[[example]]
name = "builder"
path = "./examples/guide/builder.rs"

[[example]]
name = "query_advanced"
path = "./examples/guide/query_advanced.rs"

[[example]]
name = "relations"
path = "./examples/guide/relations.rs"

[[example]]
name = "commandbuffer"
path = "./examples/guide/commandbuffer.rs"

[[example]]
name = "serialize"
path = "./examples/guide/serialize.rs"
